@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.habbitsDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.habbitsDiv h3 {
  text-align: center;

  font-size: 58px;
  color: white;
  font-family: "Inter", sans-serif;
}

.habbitsDiv .ph3 {
  text-align: center;
  line-height: 1px;
  font-size: 20px;

  color: rgba(255, 255, 255, 0.425);
  font-family: "Inter", sans-serif;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.imgDivInfo {
  width: 231px;
  /* height: 274px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.imgDivInfo img {
  height: 180px;
  width: 180px;
  border-radius: 100px;
}

.imgDivInfo h2 {
  color: white;
  font-size: 1.125rem;
  /* 18px */
  font-weight: 600;
  text-align: center;
  font-family: "inter", sans-serif;
}

.imgDivInfo p {
  color: white;
  width: 231px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}