@media screen and (max-width: 576px) {
  body {
    margin: 0px;
  }
  header {
    height: auto;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.527),
      rgba(128, 128, 128, 0.616),
      rgba(0, 0, 0, 0.425)
    );
    position: relatives;
  }
  .navDiv2 {
    display: none;
  }
  .miniHide {
    position: relative;
    display: block;
    background-color: black;
    background-size: contain;
  }
  .miniHide img {
    width: 32px;
    background-size: cover;
  }
  .miniHide button {
    border: none;
  }

  /* Full Div work */
  .bannerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bannerP {
    width: 430px;
    font-size: 2rem;
    text-align: start;
  }
}
