@media screen and (max-width: 576px) {
  body {
    margin: 0px;
    width: 100%;
  }
  header {
    height: auto;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.527),
      rgba(128, 128, 128, 0.616),
      rgba(0, 0, 0, 0.425)
    );
    position: relatives;
    width: auto;
  }
  .navDiv2 {
    display: none;
  }
  .miniHide {
    position: relative;
    display: block;
    background-color: black;
    background-size: contain;
  }
  .miniHide img {
    width: 32px;
    background-size: cover;
  }
  .miniHide button {
    border: none;
  }
  .nav ul {
    border: none;
  }
  /* Full Div work */
  .bannerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bannerP {
    width: 430px;
    font-size: 2rem;
    text-align: start;
  }

  nav:hover .mobileList {
    border: none;
    display: block;
  }
  .mobileList {
    position: absolute;
    top: 100px;
    left: 100px;
    width: auto;
    border-radius: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.432);
  }
  .mobileList ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .mobileList li {
    list-style: none;
    text-align: center;

    font-family: "Inter", sans-serif;
    color: white;
  }
  .mobileList li button {
    border: none;
    color: white;
    background: none;
  }
}
