/* import section  */
@font-face {
  font-family: "Miama";
  src: url("../../assets/fonts/Miama.ttf") format("truetype");
}

.miama-font {
  font-size: 8.125rem; /* 98px */
  font-family: "Miama", sans-serif; /* Apply Miama font */
}

/*  */
/* Overall Header Section */
/*  */

header {
  height: auto;
  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.527),
    rgba(128, 128, 128, 0.616),
    rgba(0, 0, 0, 0.425)
  );
}

/*  */
/* Nav Section */
/*  */

.miniHide {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
nav h1 {
  color: rgba(230, 83, 60, 1);
  font-family: "Inter", sans-serif;
  font-size: 2.25rem; /* 36px */
  font-weight: 800;
}

nav ul {
  border: 0.5px solid black;
  display: flex;
  flex-direction: row;

  list-style: none;
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  border-radius: 39px;
  width: 465px;
}
nav ul li {
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav ul li button {
  border: none;
  background: none;
  font-size: 1.125rem; /* 18px */
  font-weight: 400;
  color: white;
  padding: 4px;
}
.Special-btn {
  position: static;
  width: 92px;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px 8px 20px;

  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 46px;
  background: none;

  background: rgb(230, 83, 60);
}

/* Full Div work */
.bannerDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* First div work */
.bannerInfo {
  font-family: "inter", sans-serif;
}
.bannerInfo h1 {
  font-size: 4.875rem;
  line-height: 1;
  color: white;
}
.bannerP {
  width: 450px;
  font-size: 1rem;
}

.bannerDivButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bannerDivButtons button {
  width: 224px;
  height: 54px;

  display: flex;

  padding: 1rem 2.5rem;

  border-radius: 42px;

  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
}
.colorBg {
  border: none;
  background: rgb(230, 83, 60);
}
.nonColorBg {
  background: none;
  border: 1px solid black;
}
/* second Div work */
.redCircle {
  width: 40px;
  height: 40px;
  left: 787px;
  top: 584px;
  background-image: url("../../assets/icon/play.png");
  border-radius: 40px;
  background-size: cover;
}
.secondDivBanner {
  position: relative;
}
.miniCard1 {
  width: 193px;
  height: 98px;
  position: absolute;
  left: 190px;
  top: 70px;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  /* padding-left: 10px; */
  flex-direction: column;
  line-height: 0px;
}
.miniCard1 h1 {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 2.5rem; /* 40px */
  line-height: 0px;
}
.miniCard1 p {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 0.8125rem; /* 13px */
  font-weight: 400;
  line-height: 1.25rem; /* 20px */
  letter-spacing: 1px;
  text-align: left;
}

.miniCard2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 96px;

  position: absolute;
  font-family: "Inter", sans-serif;

  top: 421px;
  right: 256px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;

  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
}
.miniCard2 h1 {
  color: white;
}
.miniCard2 p {
  color: rgba(239, 237, 232, 0.65);
}
