        body {
            font-family: sans-serif;
            margin: 2rem;
        }

        .faqSection {
            border-radius: 10px;

            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

        }

        .faqDiv {
            background-color: rgb(255, 255, 255, .5);
            width: auto;
            border-radius: 10px;
            max-width: 500px;
            width: 500px;
        }

        h1 {
            text-align: center;
            margin-bottom: 1rem;
        }

        .faq {
            border: 1px solid #ddd;
            padding: 1rem;
            border-radius: 5px;
        }

        details {
            margin-bottom: 1rem;
            color: rgba(255, 252, 252, 0.363);
        }

        summary {
            cursor: pointer;
            font-weight: bold;
            color: rgb(0, 0, 0);
        }

        summary:focus {
            outline: none;
            /* color: rgba(255, 255, 255, 0.411); */
        }

        details[open] summary {
            background-color: rgba(238, 238, 238, 0.5);
        }

        p {
            margin: 0.5rem 0;
        }