@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@media screen and (max-width: 576px) {
  .addVersSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .addVersSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .addVers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    background: rgb(34, 34, 34);
    border-radius: 30px;
    padding: 30px;
    width: 80%;
    /* height: 371px; */
    height: auto;
    overflow: hidden;
    position: relative;
  }

  .addVersDiv1 {
    /* height: auto; */
    /* border: 1px solid re/d; */
    margin: 0px;
    width: 100%;
    padding: 0px;
    border-radius: 18px;
    /* height: ; */
  }

  .addVersDiv2 {
    /* height: auto; */
    /* border: 1px solid red; */
    margin: 0px;
    width: 100%;
    padding: 0px;
    height: 50%;
    overflow: hidden;
    border-radius: 18px;
    /* height: ; */
  }

  .addVersDiv1 h2 {
    color: white;
    font-size: 3rem;
    line-height: auto;
    font-weight: 900;
    font-family: "Inter", sans-serif;
  }

  .addVers p {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    /* 14px */
    font-weight: 100;
    line-height: 2.7rem;
    /* 24px */
    letter-spacing: 0.3px;
    text-align: left;
  }

  .addVers button {
    position: static;
    width: 100%;
    height: 74px;
    font-weight: 100;
    border: none;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);

    font-size: 2rem;
    /* 18px */
    font-weight: 600;
    line-height: 1.375rem;
    /* 22px */
    letter-spacing: 0px;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.5rem;
    /* 16px 40px */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 34px 0px;
    border-radius: 42px;

    background: rgb(230, 83, 60);
  }

  .addVers div img {
    transform: scale(1.6) translateY(38px);
    border-radius: 18px;

    /* width: 366px;
    height: 312px; */
    border-radius: 18px;
  }
}