@media screen and (max-width: 576px) {
  .teamMemberList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .bmiInputsection {
    width: 100%;
    height: auto;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    background: linear-gradient(
      180deg,
      rgb(17, 17, 17),
      rgba(37, 33, 33, 0.527) 100%
    );
    height: auto;
  }
  header nav {
    display: none;
  }
  .bannerDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
  }
  .bannerDiv .bannerInfo,
  .secondDivBanner {
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 100%;
    margin-left: 0px;
  }

  /* Change your habbits */
  .habbitsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .habbitsSection .images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* addVersSection */
  .addVersSection {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .addVers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0px;
    height: auto;
    width: 100%;
  }

  /* exercise */
  .gridDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    max-width: auto;
    width: 100%;
  }
  
  .trExdiv2 {
    grid-column: span 1;
  }

  .trExdiv4 {
    grid-column: span 1;
  }
}
